/* footer background styling */
.footer {
    width: 100%;
    padding: 20px 40px;
    background: var(--color-white);
    /* allows flex items to expand onto multiple lines, when there
    is insufficient space to appear on a single line */
    flex-wrap: wrap;
    /* sets spacing between flex items */
    gap: 20px;
    /* if content exceeds the size of its container, it is hidden. 
    can create a clipping effect */
    overflow: hidden;
}

.footer__logo {
    font-size: 24px;
    font-weight: bold;
    font-family: var(--playfair-display);

    text-transform: uppercase;
    color: var(--secondary-color);

    cursor: pointer;
}

.footer__logo span {
    color: var(--primary-color);
}

.footer ul {
    /* removes default list items markers/bullet points
    in ul or li elements */
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* gap between each list item */
    gap: 64px;
}

.footer__nav li {
    font-size: 16px;
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);
    text-transform: uppercase;
    color: var(--secondary-color);

    cursor: pointer;
}

/* styling for footer social list */
.footer ul:last-child {
    /* moving list to middle */
    gap: 32px; 
}

/* styling for each list item */
.footer__social li {
    width: 42px;
    height: 42px;

    background-color: var(--secondary-color);
    border-radius: 100%;
}

/* styling for each social image */
.footer__social li img {
    /* 45% of parent container's width and height */
    width: 45%;
    height: 45%;

    object-fit: contain;
}   