.header__nav {
    display: flex;
    overflow: hidden;
  }
  
  .header__logo {
    flex: 1;
    display: flex;
  
    position: relative;
    padding: 20px;
  }
  
  .header__logo-overlay {
    position: absolute;
    inset: 0;
    width: 100%;
  
    background-color: var(--primary-color);
    /* z-index controls the stack order of an element;
    a value of -1 places this element behind other elements
    that have a value > -1 */
    /* this element needs to have a 'position' value to have any effect */
    z-index: -1;
  }
  
  .header__logo h4 {
    padding-left: 30px;
  
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    font-family: var(--playfair-display);
    color: #fff;
    opacity: 0.8;
  }

  .header__menu, .header__menu-mobile {
    padding: 20px;
    /* allows flex item to grow and shrink, but starts with a base size of 0.
    1.236 is its flex grow factor, so this element takes up more space in a flex
    container than elements with a lower flex grow factor */
    flex: 1.236;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 64px;
  
    list-style: none;
  }
  
  .header__menu li {
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);
    color: var(--secondary-color);
    font-size: 16px;
    text-transform: uppercase;
    line-height: 20px;
    cursor: pointer;
  }
  
  .header__menu li img {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  
  .header__menu-mobile {
    /* hides an element completely, and the element will
    take up no space in the layout. Often used to hide elements
    that might be shown later (e.g. modals) using js */
    display: none;
    gap: 20px;
  
    position: relative;
  }